 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.3em;
}

.container {

  h1 {
    text-align: center;
    margin: 20px 0 0 0;
  }
}

.game_viewport {
  width: 70%;
  //background-color: grey;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.battlefield {
  background: url('../wheatBG.jpg') no-repeat fixed;
  background-size: cover;   // contain;
  width: 100%;
  height: 300px;        /* Changed from 500px since I didn't understand contain above */
  border-radius: 10px;
}

 .enemies_area {
    color: red;
    //background-color:yellow;
    width: 65%;
    height: 500px;
    padding-left: 10px;
  }

  .enemies_areaCol2 {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 0;
  }

  .player_area {
    width: 35%;
    height: 500px;
    //background-color: green;
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
    padding: 0 10px 0 0;
    color: green;
  }

  .player_area select {
    display: block;
  }

  .battle_info {
    // outline: 1px dashed red;
    width: 100%;
    height: 270px;
    position: relative;
  }

  .enemy_stats {
    //display: inline;
    font-size: 0.8em;
    width: 35%;
    background-color: red;
    height: 100%
  }

  .enemy_stats p {
    padding: 1em 0 0 1em;
  }

  .player_action_selector {
    width: 30%;
    height: 100%;
    color: chartreuse;
    background-color: blue;
    text-align: center;
    position: absolute;
    top: 0;
    right: 35%;

    button {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 20%;
      color: black;
    }
  }

  .player_stats {
    font-size: 0.8em;
    width: 35%;
    height: 100%;
    background-color: orange;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 10px;
  }
























